<mat-toolbar class="header" >
    <mat-toolbar-row>
        <div class="container">
            <div class="row between-xs cont-header">

                <div class="imagen-header">
                    <a routerLink=""><img src="assets/img/logosoft.png" alt="logo"></a>
                    
                </div>
                <nav class="nav" *ngIf="!globalService.login">
                    <a routerLink="" >Inicio</a> 
                    <a routerLink="/user/register">Registrarse</a>
                    <a routerLink="/user/login">Login</a>                 
                </nav>
                <nav class="nav" *ngIf="globalService.login">
                    <a routerLink="" >Inicio</a>                 
                    <a routerLink="/dashboard" >Dashboard</a>                 
                    <a routerLink="/user/login" (click)="logOut()">Logout</a>                 
                </nav>

            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>