<div class="imagen--body">
    <h1>Bienvenido a TECACTIVA</h1>
</div>
<div class="container">
    <section class="col-2">
        <div class="imagen--sec">
            <img loading="lazy" src="assets/img/section1.png" alt="Seccion1">
        </div>
        <div class="contenido--sec">
            <h2>Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique laboriosam iure magni totam. Sit
                officiis dolorum consequuntur repellendus dolore enim veritatis, vel quaerat sunt aliquam labore
                reprehenderit quod illo voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                exercitationem voluptatibus accusantium laboriosam, atque ipsum doloremque ad saepe quaerat veniam
                necessitatibus tempora incidunt recusandae similique iusto, omnis enim fugiat ratione!</p>
            <div class="boton">
                <button mat-raised-button>Clickeame!</button>
            </div>
        </div>
    </section>

    <section class="sec--video">
        <youtube-player videoId="PRQCAL_RMVo"></youtube-player>
    </section>
</div>