.full-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.imagen--log img{
    width: auto;
    height: 100%;
    margin-left: 30px;
    object-fit: cover;
}
.container--form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

.card{
    margin: 0 auto;
      padding: 100px;
      padding-top: 30px;
}

.mat-card-header .mat-card-title {
 font-size: 25px;
 text-align: center;
}

.mat-card-header {
 display: block;
 margin-bottom: 10px;
}

mat-form-field {
    
    width: 300px;
}

.error {
    background-color: #ff6961;
  }