/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



  
.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 1110px;
      
    }
  }
  
  html, body { height: 100%;font-family: 'Comic Neue', cursive;
    margin: 0;
    padding: 0;
    }
  body { margin: 0; font-family: 'Comic Neue', cursive; min-width: fit-content; }
  
  img {
    max-width: 100%;
  }

  button{
    background-color: #4a24af;
    color: #fff;
  }
  